<div class="product">
    <div class="product-details">
        <img  [src]="getImageUrl(product)"  />
        <div class="product-info">
            <div class="description">Descripcion: {{ product.description }}</div>
            <div class="name">Nombre: {{ product.name }}</div>
            <div class="price">Precio: {{ product.price }}</div>
        <div class="category">Categoria: {{ product.category }}</div>                    </div>
    </div>
    <div class="price">
        <div>${{ product.price }}</div>
        <button class="cta" (click)="buyButtonClicked(product)">Comprar</button>
    </div> 
</div>