<p>catalog works!</p>

<div class="filter">
    <a class="button" (click)="filter = ''">Remera</a>
    <a class="button" (click)="filter = ''">Musculosa</a>
    <a class="button" (click)="filter = ''">Pantalon</a>
    <a class="button" (click)="filter = ''">All</a>
</div>

<div *ngIf="productos?.length">
    <ul class="products">
        <li class="product-item" *ngFor="let currentProduct of productos">
           <app-product-details [product]="currentProduct" (buy)="AddToCart(currentProduct)"> </app-product-details>
        </li>
    </ul>
</div>

<div *ngIf="!productos?.length">
    <span>No products</span>
</div> 